<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📈</text></svg>">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="header">
        <a href="/">Home</a>
        <a href="/overview">Overview</a>
        <a href="/explore">Explore</a>
    </div>

    <div class="flex-center">
        <div class="container-columns">
            <div class="section">
                Top losers
            </div>
            <div class="section">
                Top gainers
            </div>
            <div class="section">
                Close to 52-week low
            </div>
        </div>
    </div>

</body>
</html>
